## **Tipe Data dan Variabel**

In [1]:
print ("Selamat belajar Machine Learning") #sintaks pertama untuk mencetak teks dengan petik ganda

Selamat belajar Machine Learning

In [22]:
print ('Selamat belajar Machine Learning') #sintaks kedua untuk mencetak teks dengan petik tunggal

Selamat belajar Machine Learning

In [23]:
print (10+5)
print ('10+5')

15
10+5

In [21]:
nama = "Chintya"
usia = 19

print ("Nama mahasiswa itu", nama, "usianya", usia)

Nama mahasiswa itu Chintya usianya 19

In [4]:
namaDepan = "Chintya"
namaBelakang = "Santoso"
nama = namaDepan +" "+ namaBelakang

print ("Nama mahasiswa itu ", nama)

Nama mahasiswa itu  Chintya Santoso

In [16]:
mahasiswa1 = "Chintya"
mahasiswa2 = "Annisa"

print ("Ada dua mahasiswi bernama ",mahasiswa1," dan ",mahasiswa2)

Ada dua mahasiswi bernama  Chintya  dan  Annisa

In [13]:
print("Ada dua mahasiswi bernama {} dan {}".format("Chintya", "Annisa"))
# Chintya dan Annisa

print("Ada dua mahasiswi bernama {1} dan {0}".format("Chintya", "Annisa"))
# Annisa dan Chintya

Ada dua mahasiswi bernama Chintya dan Annisa
Ada dua mahasiswi bernama Annisa dan Chintya

In [7]:
print('Halo {namaDepan} {namaBelakang}'.format(namaDepan='Chintya', namaBelakang='Santoso'))
# Halo Chintya Santoso

print('Halo {namaDepan} {namaBelakang}'.format(namaBelakang='Santoso', namaDepan='Chintya'))
# Halo Chintya Santoso

Halo Chintya Santoso
Halo Chintya Santoso

In [17]:
print(f"Mahasiswi bernama {mahasiswa1}")

Mahasiswi bernama Chintya

In [8]:
a=10
b=5
print ("{} + {} = {}".format(a, b, a + b))

10 + 5 = 15

In [9]:
alas = 8
tinggi = 4
luas = alas*tinggi/2

print ("Luas = ",luas)

Luas =  16.0

## **I/O Stream**

In [10]:
#input nama
nama = input("Masukkan nama kamu : ") #secara default inputan bertipe String, meskipun diisi angka numerik sekalipun
print("Nama kamu ", nama)

Masukkan nama kamu : Ali
Nama kamu  Ali

In [1]:
#input nama
nama_depan = input("Masukkan nama depan kamu : ") #secara default inputan bertipe String, meskipun diisi angka numerik sekalipun
print("Nama kamu ", nama_depan)
nama_belakang = input("Masukkan nama belakang kamu : ")
print("Nama belakang kamu",nama_belakang)
print("Nama lengkap kamu :",nama_depan,nama_belakang)

Masukkan nama depan kamu : Muhammad
Nama kamu  Muhammad
Masukkan nama belakang kamu : Fikri
Nama belakang kamu Fikri
Nama lengkap kamu : Muhammad Fikri

In [11]:
#Kesalahan input tipe data karena terjadi operasi aritmatika terhadap String
alas = input("Masukkan alas : ")
tinggi = input("Masukkan tinggi : ")
luas = alas*tinggi/2
print ("Luas segitiga ", luas)

Masukkan alas : 2
Masukkan tinggi : 4

TypeError: ignored

In [ ]:
alas = input("Masukkan alas : ")
tinggi = input("Masukkan tinggi : ")
luas = (int(alas)*int(tinggi))/2
print ("Luas segitiga ", luas)

Masukkan alas : 4
Masukkan tinggi : 8
Luas segitiga  16.0